[flake8]
max-line-length = 115

ignore =
    # these rules don't play well with black
    E203  # whitespace before :
    W503  # line break before binary operator

exclude =
    build/**
    doc/**

per-file-ignores =
    # __init__.py files are allowed to have unused imports and lines-too-long
    allennlp_models/__init__.py:F401
    allennlp_models/**/__init__.py:F401,E501

    # tests don't have to respect
    #  E501: line length
    #  E261: 2 spaces before comments (it would be ideal if they did, though)
    #  E731: do not assign a lambda expression, use a def
    #  F401: unused imports
    tests/**:E501,E261,E731,F401

