# TODO: change this back to master branch
git+https://github.com/allenai/allennlp.git@3da2ff59aeef6fc37c1ec21f8403a1d47e7b61d8

# For structured prediction.
conllu==4.1

# For RC models
word2number>=1.1
py-rouge==1.1
nltk

# For CNN/DailyMail dataset reader
ftfy
