name: PyPI Release

on:
  release:
    types: [published]
  schedule:
  # Nightly releases.
  # These must run after the AllenNLP nightly releases, since the corresponding AllenNLP
  # release will be a dependency.
  - cron: '48 12 * * 1,2,3,4,5'  # early morning (12:48 UTC / 5:48 AM PDT) Monday - Friday

jobs:
  build:
    name: Build package
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ['3.6', '3.7']

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python }}

    - name: Check and set nightly version
      if: github.event_name == 'schedule'
      run: |
        # The get_version.py script requires the 'requests' package.
        pip install requests
        LATEST=$(scripts/get_version.py latest)
        CURRENT=$(scripts/get_version.py current)
        # Verify that current version is ahead of the last release.
        if [ "$CURRENT" == "$LATEST" ]; then
            echo "Current version needs to be ahead of latest release in order to build nightly release";
            exit 1;
        fi
        echo ::set-env name=ALLENNLP_MODELS_VERSION_SUFFIX::.dev$(date -u +%Y%m%d)

    - name: Check version and release tag match
      if: github.event_name == 'release'
      run: |
        # Remove 'refs/tags/' to get the actual tag from the release.
        TAG=${GITHUB_REF#refs/tags/};
        VERSION=$(scripts/get_version.py current)
        if [ "$TAG" != "$VERSION" ]; then
            echo "Bad tag or version. Tag $TAG does not match $VERSION";
            exit 1;
        fi

    - name: Set AllenNLP version override
      run: |
        VERSION=$(./scripts/get_version.py current --minimal)
        ALLENNLP_VERSION_OVERRIDE="allennlp==$VERSION"
        echo "Setting ALLENNLP_VERSION_OVERRIDE to $ALLENNLP_VERSION_OVERRIDE"
        echo "::set-env name=ALLENNLP_VERSION_OVERRIDE::$ALLENNLP_VERSION_OVERRIDE"

    - name: Install requirements
      run: |
        pip install --upgrade pip setuptools wheel
        pip install -e .
        pip install -r dev-requirements.txt

    - name: Show pip freeze
      run: |
        pip freeze

    - name: Format
      run: |
        make format

    - name: Lint
      run: |
        make lint

    - name: Type check
      run: |
        make typecheck

    - name: Run tests
      run: |
        make test

    - name: Build Package
      run: |
        python setup.py bdist_wheel sdist

    - name: Save package
      if: matrix.python == '3.7'
      uses: actions/upload-artifact@v1
      with:
        name: models-package
        path: dist

  test:
    name: Test Package
    needs: [build]  # needs the package artifact created from 'build_package' job.
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ['3.6', '3.7']

    steps:
    - uses: actions/checkout@v2

    - name: Cleanup directory
      run: |
        # Remove the source code so that it doesn't conflict with the wheel
        # installation.
        rm -rf allennlp_models/

    - name: Setup Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python }}

    - name: Install requirements
      run: |
        pip install --upgrade pip setuptools wheel

    - name: Download models package
      uses: actions/download-artifact@v1
      with:
        name: models-package
        path: dist

    - name: Install models package
      run: |
        pip install $(ls dist/*.whl)

    - name: Ensure models automatically loaded
      run: |
        ./scripts/ensure_models_found.py

    - name: Ensure versions match
      run: |
        ./scripts/ensure_versions_match.py

  docker:
    name: Docker
    needs: [build]  # needs the package artifact created from 'build_package' job.
    # Don't run for nightly releases.
    if: github.event_name != 'schedule'
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - name: Download models package
      uses: actions/download-artifact@v1
      with:
        name: models-package
        path: dist

    - name: Build image
      run: |
        make docker-image

    - name: Add latest tag
      run: |
        # Tag with latest.
        docker tag allennlp/models:$(scripts/get_version.py current) allennlp/models:latest

    - name: Upload image
      run: |
        docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
        docker push allennlp/models:$(scripts/get_version.py current)
        docker push allennlp/models:latest

  pretrained:
    name: Pretrained Models
    runs-on: [self-hosted]

    steps:
    - uses: actions/checkout@v2

    - name: Set Docker tag
      run: |
        if [[ $GITHUB_EVENT_NAME == 'release' ]]; then
            echo "::set-env name=DOCKER_TAG::${GITHUB_REF#refs/tags/}";
        else
            echo "::set-env name=DOCKER_TAG::$GITHUB_SHA";
        fi

    - name: Build test image
      run: |
        make docker-test-image DOCKER_TAG=$DOCKER_TAG

    - name: Run pretrained tests
      run: |
        make docker-test-run DOCKER_TAG=$DOCKER_TAG ARGS='test-pretrained'

  gpu_checks:
    name: GPU Checks
    runs-on: [self-hosted, GPU]

    steps:
    - uses: actions/checkout@v2

    - name: Set Docker tag
      run: |
        if [[ $GITHUB_EVENT_NAME == 'release' ]]; then
            echo "::set-env name=DOCKER_TAG::${GITHUB_REF#refs/tags/}";
        else
            echo "::set-env name=DOCKER_TAG::$GITHUB_SHA";
        fi

    - name: Build test image
      run: |
        make docker-test-image DOCKER_TAG=$DOCKER_TAG

    - name: Run GPU tests
      run: |
        make docker-test-run DOCKER_TAG=$DOCKER_TAG ARGS='gpu-test'

  publish:
    name: PyPI
    needs: [build, test, docker, pretrained, gpu_checks]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - name: Install requirements
      run: |
        pip install --upgrade pip setuptools wheel twine

    - name: Download models package
      uses: actions/download-artifact@v1
      with:
        name: models-package
        path: dist

    - name: Upload to PyPI
      env:
        PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: twine upload -u allennlp -p $PYPI_PASSWORD dist/*
